<link rel="stylesheet" href="/app.css">
<link rel="stylesheet" href="/cover.css">


<div class="main-container">
  <h1>Moringa Sign-In</h1>
  <div id = "box">
    <h2>Please select your cohort below:</h2>
    <div class="dropdown">
      <button class="dropbtn">Select Cohort:</button>
      <div class="dropdown-content">
        <a href="#">Moringa Core II</a>
        <a href="#">Moringa Prep Full-Time</a>
        <a href="#">Moringa Prep Part-Time</a>
      </div>
    </div>
  </div>
</div>
