<h1>Add a Student</h1>

<p>Add a student here:</p>

<form action="/students" method="post">
  <label for="name">Student Name: </label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Student</button>
</form>
