<h1>Add a Cohort</h1>

<p>Add a cohort here:</p>

<form action="/cohorts" method="post">
  <label for="name">Cohort Name: </label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Cohort</button>
</form>
