<h1>$group.getName() Students:</h1>

<ul>
  #foreach($individual in $group.getIndividuals())
   <li>$individual.getName()
<form action="/students/check-in" method="post">
  <input value="$individual.getId()" type="hidden" id="studentId" name="studentId"><button type="submit">Check-IN</button>
  </form>
   </li>
  #end
</ul>

<a href="/student-groups">All groups</a>
