<h1>$group.getName() Students:</h1>

<ul>
  #foreach($individual in $group.getIndividuals())
   <li>$individual.getName()
<form action="/groups/$group.getId()/students" method="post">
  <option value="$individual.getId()" type="hidden"></option><button type="submit">Check-IN</button>
  </form>
   </li>
  #end
</ul>

<a href="/student-groups">All groups</a>
